<h1>لوحة التحكم</h1>



<div class="form-signin">

<a class="btn btn-lg btn-info btn-block" href='/students'>الطلاب</a>
<a class="btn btn-lg btn-info btn-block" href='/courses'>الدورات </a>
<a class="btn btn-lg btn-info btn-block" href='/exams'>الاختبارات </a>
<a class="btn btn-lg btn-info btn-block" href='/register'>تسجيل طلاب باختبار </a>

</div>