<h1 class="text-center">لوحة التحكم</h1>



<div class="form-signin">

<a class="btn btn-lg btn-info btn-block" href='/students'>الطلاب</a>
<a class="btn btn-lg btn-info btn-block" href='/courses'>البرامج الاثرائية </a>
<a class="btn btn-lg btn-info btn-block" href='/certificates'>طباعة الشهادات </a>

</div>