<h2 class="text-center">اضافة برنامج اثرائي جديد</h2>

<br>

<form class="" action="/courses" method="post">
  <div class="container text-right">
    <%- include('_form_fields') %>
    <%- include('_register_fields') %>
    
  </div>
  <div class="text-center">
    <button class="btn btn-primary mt-4" type="submit">حفظ البرنامج الجديد</button>
  </div>
</form>