
<div class="text-center">

  <h2>اضافة طلاب بدورة <%= course.name %></h2>
</div>

<form class="form-signin" action="/courses/<%= course.id %>/register" method="POST">
  <%- include('_register_fields') %> 
  <div class="text-center mt-5">
    <button class="btn btn-info" type="submit">حفظ</button>
    <a class="btn btn-warning" href="/courses">العودة</a>
  </div>
</form>