<div class="form-signin text-center">
  <img class="mb-4" src="/img/MOElogo.png" alt="" width="125" height="72">
  <h1 class="h3 mb-3 font-weight-normal">برنامج متابعة الطلاب الموهوبين بتعليم المخواة</h1>

  <a class="btn btn-lg btn-primary btn-block" href='/dashboard'>الدخول</a>
  


</div>