<h2>اضافة طالب جديد</h2>

<br>

<div class="form-signin">
  <form action="/students" method="post">
    <%- include('_form_fields') %>
      <button class="btn btn-primary" type="submit">حفظ طالب جديد</button>
  </form>
</div>