<h2 class="text-center">اضافة طالب جديد</h2>

<br>

<div class="form-signin text-center">
  <form action="/students" method="post">
    <%- include('_form_fields') %>
      <button class="btn btn-primary mt-4" type="submit">حفظ طالب جديد</button>
  </form>
</div>