<% momentHijri.locale("en") %>
<h2>اضافة اختبار جديد</h2>

<br>

<div class="form-signin">
  <form action="/exams" method="post">
    <%- include('_form_fields') %>
      <button class="btn btn-primary mt-2" type="submit">حفظ الاختبار</button>
  </form>
</div>